:root {
  --text: #55868c;
}

header {
  background-color: #c8ab83;
  height: 5rem;
  margin-top: -1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text);
}

h2 {
  color: var(--text);
  margin-left: 20px;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 3rem;
}

h2::after {
  content: '';
  width: 100%;
  height: 1px;

  background-color: var(--text);
}

.plus-sign {
  width: 2rem;
  height: 2rem;
  color: var(--text);
  margin-left: 20px;
  margin-bottom: 2rem;
}

.plus-sign:hover {
  animation: rotation 1s infinite linear;
  cursor: pointer;
}

.hide {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.add-exp {
  width: 2rem;
  height: 2rem;
  color: var(--text);
  margin-left: 20px;
  margin-bottom: 2rem;
}

.add-exp:hover {
  animation: rotation 1s infinite linear;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.trash {
  color: rgb(200, 50, 50);
  cursor: pointer;
  margin-left: -70%;
}

form {
  margin-left: 1rem;
  margin-right: 1rem;
}

legend {
  background-color: #eec584;
}

fieldset {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5), -1px -1px 4px 1px rgba(0, 0, 0, 0.5);
}

label {
  color: var(--text);
  font-weight: bold;
}

.submit {
  width: 7rem;
  align-self: center;
  height: 2rem;
  background-color: #b6c5b8;
  border: 2px solid #a4b3a6;
  border-radius: 25px;
  color: var(--text);
  font-weight: bold;
}

.submit:hover {
  background-color: #d6e5d8;
}

.submit:active {
  background-color: #d6e5d8;
}

input {
  height: 1.2rem;
  font-size: 1rem;
  letter-spacing: 0.2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: none;
}

textarea {
  font-size: 1rem;
  letter-spacing: 0.2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: none;
}

input:focus {
  outline: var(--text);
}

input[type='date'] {
  height: 1.5rem;
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}

.general-info-container,
.display-education-container,
.display-experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  font-size: 1.3rem;
  color: var(--text);
  font-weight: bold;
}

.display-education-container,
.display-experience-container {
  margin-bottom: 2rem;
  margin-right: 20px;
}

.display-education-container::after,
.display-experience-container ::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #55868c;
}

.display-full-name {
  font-size: 2rem;
}

.edit {
  background-color: #55868c;
  border: none;
  border-radius: 25px;
  color: #eec584;
  font-weight: 700;
  width: 3rem;
  height: 1.5rem;
}

.education-container {
}
