.plus-sign {
  width: 2rem;
  height: 2rem;
  color: burlywood;
}

.plus-sign:hover {
  animation: rotation 1s infinite linear;
  color: rgb(242, 204, 155);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}
